<div class="col-lg-12">
    <br><br>
    <div class="row col-lg-12">
        <div class="offset-lg-2 "></div>
        <div class="col-lg-8">

            <table class="table table-stripped table-responsive text-center" border="1" style="font-size: 20px;font-family: segoe UI">
                <col width="750px">
                <col width="750px">
                <!-- myAccount is variable in profile.component.ts, and it has the details of this account...Using it and printing the details -->
                <tr *ngIf=myAccount>
                    <td style="font-weight: bold">Name </td>
                    <td style="font-family: Trebuchet MS">{{myAccount.firstName}}&nbsp;{{myAccount.lastName}}</td>
                </tr>
                <tr *ngIf=myAccount>
                    <td style="font-weight: bold">Wallet Id </td>
                    <td style="font-family: Trebuchet MS">{{myAccount.accNum}}</td>
                </tr>
                <tr *ngIf=myAccount>
                    <td style="font-weight: bold">Wallet Balance </td>
                    <td style="font-family: Trebuchet MS;font-size: 25px;" class="text-right" *ngIf="!showBalance">&#183;&#183;&#183;&#183;&#183;
                        <span style="margin-right: 25px;margin-left: 100px;color: black;cursor: pointer;" (click)="showMyBalance()"><i class="fa fa-eye"></i></span>
                    </td>
                    <td style="font-family: Trebuchet MS;font-size: 25px;" class="text-primary text-right" *ngIf="showBalance">&#8377;&nbsp;{{myAccount.balance}}
                    <span style="margin-right: 25px;margin-left: 100px;color: black;cursor: pointer;" (click)="hideMyBalance()"><i class="fa fa-eye-slash"></i></span>
                    </td>
                </tr>
                <tr *ngIf=myAccount>
                    <td style="font-weight: bold">Mobile Number </td>
                    <td style="font-family: Trebuchet MS">{{myAccount.phoneNum}}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br>
    <br>
    <br>

</div>