<div *ngIf="input" class="bgCard offset-md-1 offset-lg-1 col-lg-10 col-md-10">
    <br>
    <div class="box offset-lg-2 offset-md-2 col-lg-8 col-md-8">
        <div class="row">
            <div class="text-left col-lg-2 col-md-2"><button class="btn btn-dark"  (click)="goBack()">Cancel</button></div>
            <div class="offset-lg-8 offset-md-8 col-lg-2 col-md-2 text-right"><button class="btn btn-outline-danger" (click)="delete()">Delete</button></div>
        </div>
        <br>

        <!-- Edit Beneficiary Form -->
        <form [formGroup]="beneficiaryForm" (ngSubmit)="update()">
            <div class="form-group">
                <label>Beneficiary Name</label>
                <input class="input" type="text" id="name" formControlName="name" required>
                <div class="text-danger" *ngIf="submitted && beneficiaryForm.controls.name.errors">
                    <div *ngIf="beneficiaryForm.controls.name.errors.required">
                        Beneficiary Name is required..!!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Beneficiary Account Number</label>
                <input class="input" type="number" id="bAccNum" formControlName="bAccNum" required>
                <div class="text-danger" *ngIf="submitted && beneficiaryForm.controls.bAccNum.errors">
                    <div *ngIf="beneficiaryForm.controls.bAccNum.errors.required">
                        Beneficiary Account Number is required..!!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Nick Name</label>
                <input class="input" type="text" id="nickName" formControlName="nickName" required>
                <div class="text-danger" *ngIf="submitted && beneficiaryForm.controls.nickName.errors">
                    <div *ngIf="beneficiaryForm.controls.nickName.errors.required">
                        Nick Name is required..!!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Category</label>
                <input type="text" class="input" formControlName="category" required>
            </div>
                <div type="submit" (click)="update()">UPDATE</div>
        </form>
    </div>
</div>

<!-- If beneficiary updated successfully -->
<div class="text-center col-lg-12 col-md-12" *ngIf="!input && success" style="margin-top: 50px;">
    <br>
    <br>
    <br>
    <h3 class="text-success">
        Beneficiary has been successfully updated !
    </h3>
    <h6 class="text-secondary">
        You can now transfer funds to this Beneficiary..
        <br><br>
        Redirecting..
    </h6>
    <br>
    <br>
</div>

<!-- If beneficiary update is failed -->
<div class="text-center col-lg-12 col-md-12" *ngIf="!input && !success" style="margin-top: 50px;">
    <br>
    <br>
    <br>
    <h3 class="text-danger">
        Oops, Error!
    </h3>
    <h6 class="text-secondary">
        Can't update Beneficiary right now! Try Again after sometime..
        <br><br>
        Redirecting..
    </h6>
    <br>
    <br>
</div>
