<div class="card1 offset-lg-1 offset-md-1 col-lg-10 col-md-10" style="height: 690px">
    <div class="row ">

        <!-- Title or Heading -->

        <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6 text-primary text-center"
            style="font-style: italic;margin-top: 20px;">
            <h1 style="text-shadow:2px 1px lightgrey;">About Us
            </h1>
            <hr class="line text-primary">
        </div>
        <div class="col-lg-3 col-md-3 text-right" style="margin-top:30px;">
            <button class="btn btn-outline-dark" (click)="close()">X</button>&nbsp;
        </div>
    </div>

    <!-- Content -->
    
    <div class="row scroll">
        <div class="bgCard offset-md-1 offset-lg-1 col-lg-10 col-md-10">
            <p><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thank you for reaching out and wanting to know us!<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: larger;font-weight: bold;">W</span>e
                at Buddy Wallet - India's first online Savings Wallet since 2020.
                <br>
                Ages have transformed from equation <i
                    style="font-size: large;font-weight: bold;">Income-Expenditure=Savings</i> to <i
                    style="font-weight: bold;font-size: large;">Income-Savings=Expenditure</i>.
                Buddy Wallet took its origin from the most common Indian term 'Hundi', a money saver. This Wallet is
                also a money saver which serves online.
                <br>The name 'Buddy' is selected for the reason that this wallet serves the user like a
                Friend.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This wallet is not linked to any commercial
                purposes like recharge, bill payments etc..
                This is limited to deposit, withdraw and fund transfer through beneficiary to purely serve the aim of
                saving money. You are free to withdraw your money from the wallet at anytime within seconds.
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hope our journey with you lasts long!
                <br><br>
                <span class="text-secondary"
                    style="font-size: x-large;margin-left: 15%;font-weight: bold;font-family: Helvetica;">Money with you
                    = SPENDINGS&nbsp; <span style="font-size: large;">but</span> &nbsp;Money with us = SAVINGS</span>
                <br><br>
                <br>
                <span style="margin-left: 40%;" class="text-secondary">Feel free to <a routerLink="/contactUs"
                        class="text-primary"><u>Contact Us</u></a>.</span>
        </div>
    </div>
</div>