<div class="bgCard" style="background-image: url(assets/images/widrawBg2.png);background-size: cover;height: 83%"
    *ngIf="!result">
    <br>
    <div class="row">
        <div class="offsert-lf-4 offset-md-4"></div>
        <div class="col-lg-5 col-md-5" style="border-radius: 25px;" *ngIf="!input && !result">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="contentCard">
                <table class="text-center">
                    <col width="500">
                    <col width="500">
                    <tr>
                        <td colspan="2" class="text-center font-weight-bold text-dark">
                            <div style="margin-top: 5px;">&nbsp;<span class="text-center text-danger" *ngIf="0>=amount && amount!=null">enter a valid amount!!</span></div>
                            <h2 style="font-family: 'Segoe UI'; font-weight: 600;text-shadow: 1px 2px lightgrey">Amount
                                :
                                &nbsp;&nbsp;
                                <!-- When user enter invalid amount, error is shown -->
                                <span style="font-size: medium;font-weight: normal;position: relative;"><input class="inpBox" type="number"
                                        [(ngModel)]="amount" style="width: 275px;margin-top: 5px;"
                                        placeholder="enter amount to be deposited &nbsp;&nbsp;">
                                    <i *ngIf="0>=amount && amount!=null" style="position: relative;right: 47px;top: -3px;">&nbsp;<img src="assets/images/errorSymbol.png"
                                            style="width: 25px;height: 25px"></i>
                                </span></h2>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <!-- Amount suggestions -->
                        <td colspan="2" class="text-center" *ngIf="!selected">
                            <button class="btn btn-outline-dark"
                                style="box-shadow: 0 1px 2px 2px lightgrey;font-weight: 525"
                                (click)="withdraw100()">100/-</button>&nbsp;&nbsp;
                            <button class="btn btn-outline-dark"
                                style="box-shadow: 0 1px 2px 2px lightgrey;font-weight: 525"
                                (click)="withdraw250()">250/-</button>&nbsp;&nbsp;
                            <button class="btn btn-outline-dark"
                                style="box-shadow: 0 1px 2px 2px lightgrey;font-weight: 525"
                                (click)="withdraw500()">500/-</button>&nbsp;&nbsp;
                            <button class="btn btn-outline-dark"
                                style="box-shadow: 0 1px 2px 2px lightgrey;font-weight: 525"
                                (click)="withdraw1000()">1000/-</button>&nbsp;&nbsp;
                            <button class="btn btn-outline-dark"
                                style="box-shadow: 0 1px 2px 2px lightgrey;font-weight: 525"
                                (click)="withdraw2000()">2000/-</button>
                        </td>
                    </tr>
                    <tr *ngIf="!selected">
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <!-- 'withdraw' button is hidden until valid amount is entered by user -->
                            <div *ngIf="amount>0">
                                <button class="buttonAnimated" (click)="submit()">
                                    <span>Withdraw</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </div>
        <div class="offset-lg-3 offset-md-3 col-lg-7 col-md-7" style="border-radius: 25px;"
            *ngIf="input && !result">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="contentCard">
                <table class="text-center">
                    <col width="500">
                    <col width="500">
                    <tr>
                        <td colspan="2" class="text-center font-weight-bold text-dark">
                            <div class="text-danger text-center" style="margin-top: 5px;">{{statusMsg}}&nbsp;</div>
                            <h2 style="font-family: 'Segoe UI'; font-weight: 600;text-shadow: 1px 2px lightgrey">
                                Transaction Password :
                                &nbsp;&nbsp;<span style="font-weight: normal;font-size: medium;position: relative;"><input class="inpBox"
                                        type="password" #tranPassword id="tranPasswordInputBox" style="width: 275px;margin-top: 2px "
                                        placeholder="enter the Transaction Password &nbsp;&nbsp;">
                                    <!-- when user enters an incorrect transaction password, error is shown  -->
                                        <span *ngIf="wrong" style="position: relative;right: 35px;top: -3px;">&nbsp;<img src="assets/images/errorSymbol.png" style="width: 25px;height: 25px"></span>
                                        
                                </span></h2>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button class="buttonAnimated" id="verifyButton" (click)="withdraw(tranPassword.value)">
                                <span>Verify</span>
                            </button>
                            <span *ngIf="loading" style="position: relative;">&nbsp;<img src="assets/images/loading2.gif" style="width: 35px;height: 35px"></span>                                        
                        </td>
                    </tr>
                </table>
                <br>
            </div>
        </div>

    </div>
</div>
<div class="text-center col-lg-12 col-md-12" *ngIf="input && result" style="margin-top: 50px;">
    <br>
    <br>
    <img src="/assets/images/successSymbol2.gif" height="125" width="125" id="successSymb"/>
    <br>
    <h4 class="text-success">
        {{statusMsg}}
    </h4>
    <br>
    <br>
    <button class="btn btn-outline-dark" style="height: 40px" (click)="home()">Back to Home</button>
</div>
<div class="text-center col-lg-12 col-md-12" *ngIf="!input && result" style="margin-top: 50px;">
    <br>
    <br>
    <img src="/assets/images/faile.gif" height="100" width="125" />
    <br>
    <h2 class="text-danger">
        Transaction Failed!!
    </h2>
    <h6 class="text-danger">
        Due to {{statusMsg}}
    </h6>
    <br>
    <br>
    <button class="btn btn-success" style="width: 200px;height: 40px" (click)="tryAgain()">
        <span>Try Again</span>
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-dark" style="height: 40px" (click)="home()">Back to Home</button>
</div>