<div class="card1 offset-lg-1 offset-md-1 col-lg-10 col-md-10" style="height: 690px">
    <div class="row ">
        <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6 text-primary text-center"
            style="font-style: italic;margin-top: 20px;">
            <h1 style="text-shadow:2px 1px lightgrey;">Terms & Conditions
            </h1>
            <hr class="line text-primary">
        </div>
        <div class="col-lg-3 col-md-3 text-right" style="margin-top:30px;">
            <button class="btn btn-outline-dark" (click)="close()">X</button>&nbsp;
        </div>
    </div>
    <div class="row scroll">
        <div class="bgCard offset-md-1 offset-lg-1 col-lg-10 col-md-10">
            <p><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span
                    style="font-size: larger;font-weight: bold;">W</span>elcome to Buddy Wallet. Your use of Buddy
                Wallet on our Website or Mobile App is governed by the following terms and conditions (Terms) which are
                incorporated herein by way of reference. The Terms are effective upon acceptance of usage of our
                platform, and governs the relationship between the users of this platform (“You”, “Your”, “Yours” or the
                “User” as the context may necessitate) and Buddy Services (India) Pvt Ltd. (“Buddy Wallet”, “Us”, “Our”
                or “We” as the context may necessitate).<br><br>
                1. ACCEPTANCE OF TERMS<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By accepting the Terms, You understand and agree that Buddy
                Wallet will treat Your use of the Services
                such as your use of our prepaid mobile/DTH recharge purchasing services or Services regarding bill
                payment or money transfer or services regarding Our online marketplace or such other services which may
                be added from time to time (all such services are individually or collectively are referred as Service
                or Services) on the Site (www.Buddywallet.com), Our mobile Platform/Network and Our mobile application
                (Related Applications).<br>
                2. ELIGIBILITY<br>
                <ul>
                    <li> You must be 18 years of age to use Buddy Wallet.
                    </li>
                    <li> We reserve the right to terminate any account or Your use of Buddy Wallet if any information
                        provided
                        by You is false, fictitious, inaccurate, not current or incomplete, with or without notice to
                        You.
                    </li>
                </ul>
                3. REGISTRATION TO USE THE SERVICES<br>
                <ul>
                    <li> You will be issued a user ID and password to access Your account.
                    </li>
                    <li> You must keep the password confidential and not share it with any other person as You are
                        responsible
                        for all activity on Your account, whether or not You authorized it.
                    </li>
                    <li> The login for wallet account, recharge, bill payment, gift card and all others prepaid cards
                        services
                        is same.
                    </li>
                    <li> In case of any unauthorized use of Your account or Your user id and password, please contact us
                        at
                        care@Buddywallet.com
                    </li>
                </ul>
                4. GENERAL CONDITIONS OF BUDDY WALLET<br>
                <ul>
                    <li> After successful registration, Buddy Wallet will issue a Prime Account upon submission of your
                        KYC
                        documents at the time of registration or on a later date.
                    </li>
                    <li> You will be able to use the Buddy Wallet Account after 3 (three) days from loading the Wallet
                        from
                        Banking Channel for the Send Money to Bank option. Rest of the services like recharges and bill
                        payments
                        can be used uninterruptedly.
                    </li>
                    <li> The maximum monetary value that can be stored at any point of time, transferred to another
                        account,
                        utilized in a month in Buddy Wallet Account shall be in accordance with RBI guidelines as
                        applicable
                        from time to time.
                    </li>
                    <li> Subject to guidelines/notifications issued by RBI from time to time these limitations may be
                        reviewed
                        and modified at the discretion of Buddy Wallet without prior intimation to the Customer.
                    </li>
                    <li> Buddy Wallet reserves the right to suspend/discontinue Buddy Wallet Services to You at any
                        time, for
                        any cause, including, but not limited, to the following:
                        <ul>
                            <li> For any suspected violation of the rules, regulations, orders, directions,
                                notifications issued by RBI
                                from time to time or for any violation of the terms and conditions mentioned in this
                                document;
                            </li>
                            <li> For any suspected discrepancy in the particular(s), documentation or KYC enrolment form
                                provided by
                                you;
                            </li>
                            <li> To combat potential fraud, use of abusive language, sabotage, wilful destruction,
                                threat to national
                                security or for any other force majeure reasons;
                            </li>
                            <li> If the same is due to technical failure, modification, up gradation, variation,
                                relocation, repair,
                                and/or maintenance due to any emergency or for any technical reasons;
                            </li>
                            <li> If the same is due to any transmission deficiencies caused by topographical and
                                geographical
                                constraints/limitations;
                            </li>
                            <li> If the mobile connection with which your Buddy Wallet is related ceases to be
                                operational or in your
                                possession or control.
                            </li>
                            <li> If Buddy Wallet believes, in its reasonable opinion, that cessation/ suspension is
                                necessary.
                            </li>
                            <li> Buddy Wallet reserves the right to amend, modify, change, and/or terminate
                                (collectively “Changes”)
                                the Terms, the Site (www.Buddywallet.com) and Related Applications, at any time in its
                                sole discretion.
                            </li>
                        </ul>
                    </li>
                    <li> Your continued use of the Services shall be deemed as Your acceptance of any such Changes.
                    </li>
                </ul>
                5. YOUR CONDUCT ON THE MOBILE APPLICATION & WEBSITE<br>
                <ul>
                    <li> If Buddy Wallet requests registration information from You, You will provide with true,
                        accurate,
                        current, and complete information;
                    </li>
                    <li> You agree to log out from your accounts at the end of each session for Your own security;
                    </li>
                    <li> You agree not to copy, modify, rent, lease, loan, sell, assign, distribute, reverse engineer,
                        grant a
                        security interest in, or otherwise transfer any right to the technology or software underlying
                        its
                        web-sites/app or the Services;
                    </li>
                    <li> Without limiting the foregoing, You agree to not use the Services offered through Our Site or
                        Related
                        Applications to take any of the following actions:
                    </li>
                    <li> Engage in any act which is obscene, offensive, indecent, racial, anti religious, anti-national,
                        objectionable, defamatory, abusive, harass, stalk, threaten, or otherwise violate the legal
                        right of
                        others;
                    </li>
                    <li> Publish, post, upload, e-mail, distribute, or disseminate (collectively, "Transmit") any
                        inappropriate, profane, defamatory, infringing, obscene, indecent, or unlawful content;
                    </li>
                    <li> Transmit files that contain viruses, corrupted files, or any other similar software or programs
                        that
                        may damage or adversely affect the operation of another person's computer, its web-sites/app,
                        any
                        software or hardware, or telecommunications equipment;
                    </li>
                    <li> Advertise or offer to sell any goods or services for any commercial purpose unless you have its
                        written consent to do so;
                    </li>
                    <li> Transmit web-sites/app, services, products, surveys, contests, pyramid schemes, spam,
                        unsolicited
                        advertising or promotional materials, or chain letters;
                    </li>
                    <li> Download any file, recompile or disassemble or otherwise affect its products that you know or
                        reasonably should know cannot be legally obtained in such manner;
                    </li>
                    <li> Falsify or delete any author attributions, legal or other proper notices or proprietary
                        designations
                        or labels of the origin or the source of software or other material;
                    </li>
                    <li> Collect or store personal information about other end users;
                    </li>
                    <li> Impersonate any person or entity, including, but not limited to, a representative of Buddy
                        Wallet or
                        falsely state or otherwise misrepresent your affiliation with a person or entity;
                    </li>
                    <li> Forge headers or manipulate identifiers or other data in order to disguise the origin of any
                        content
                        transmitted through Our Site or related application or to manipulate your presence on the Site
                        or
                        related application available through authorised sources;
                    </li>
                    <li> Take any action that imposes an unreasonably or disproportionately large load on Our
                        infrastructure/
                        network;
                    </li>
                    <li> Engage in any illegal activities;
                    </li>
                    <li> Unauthorized access to Our Site or related application is a breach of these Terms and a
                        violation of
                        the law;
                    </li>
                    <li> You agree not to access Our Site or related application by any means other than through the
                        interface
                        that is provided by Buddy Wallet for use in accessing Our Site or related application;
                    </li>
                    <li> You agree not to use any automated means, including, without limitation, agents, robots,
                        scripts, or
                        spiders, to access, monitor, or copy any part of Our Site or related application, except those
                        automated
                        means that Buddy Wallet have approved in advance and in writing.
                    </li>
                </ul>
                6. KYC COMPLIANCE<br>
                <ul>
                    <li> “KYC” stands for Know Your Customer and refers to the various norms, rules, laws and statutes
                        issued
                        by Reserve Bank of India from time to time.
                    </li>
                    <li> Buddy Wallet is required to procure personal identification details from You before any
                        Services can
                        be delivered and at the time of Registration and/ or on a later date, for availing and / or
                        continuation
                        of the Buddy Wallet.
                    </li>
                    <li> The collection, verification, audit and maintenance of correct and updated customer information
                        is a
                        continuous process and Buddy Wallet reserves the right, at any time, to take steps necessary to
                        ensure
                        compliance with all relevant and applicable KYC requirements.
                    </li>
                    <li> We reserve the right to discontinue Services/ reject applications for Buddy Wallet at anytime
                        if there
                        are discrepancies in information and/or documentation provided by you.
                    </li>
                    <li> Any information provided to Us with the intention of securing Buddy Wallet shall vest with Us,
                        and may
                        be used, for any purpose consistent with any applicable law or regulation, at its discretion.
                    </li>
                    <li> If the particulars provided by you in the KYC documents do not match with the details mentioned
                        in the
                        KYC enrolment form, your Buddy Wallet shall be suspended until the time You furnish correct
                        details.
                    </li>
                    <li> Subject to guidelines/notifications issued by RBI from time to time these limitations may be
                        reviewed
                        and modified at the discretion of Buddy Wallet without prior intimation you.
                    </li>
                    <li> To Update PAN or Form 60 for Full KYC
                    </li>
                    <li> As per RBI, PAN or Form 60 is required as part of your KYC to enjoy the 1 Lac limit on your
                        Buddy
                        Wallet. Do include it as part of your KYC documents in case you wish to be upgraded to a full
                        KYC Buddy
                        Wallet.
                    </li>
                    <li>In case you are an existing KYC Buddy Wallet user but have not yet submitted your the PAN or
                        Form 60,
                        kindly submit it at the earliest to continue enjoying the full benefits of a KYC customer.
                        Please send a
                        photo or a coloured scan of any one of these documents from your registered wallet email ID
                        along with
                        your wallet mobile number to care@Buddywallet.com. In case your email ID is not registered with
                        us,
                        please log into the Buddy Wallet App or website, go to your Profile section, update your email
                        id and
                        save the profile. Once done, please email us the document.
                        Please note the following
                        <ul>
                            <li> Your email ID must be registered in Buddy Wallet profile.
                            </li>
                            <li> The name mentioned on PAN Card or Form 60, must match with the user name of the Buddy
                                Wallet.
                            </li>
                            <li> All wallet users who would like to enjoy a Rs.1 Lac wallet limit, must comply with PAN
                                submission
                            </li>
                        </ul>
                    </li>
                </ul>
                7. WALLET CHARGES & VALIDITY<br>
                <ul>
                    <li> You shall pay the service charges prescribed by Buddy Wallet in the form and manner prescribed
                        for
                        such payment. Buddy Wallet may at its discretion, change, amend, increase, or reduce the Service
                        Charges
                        without prior intimation to the customer.
                    </li>
                    <li> Any value in your Buddy Wallet that is utilized towards making payments for any transaction
                        shall be
                        automatically debited from your Buddy Wallet.
                    </li>
                    <li> Our responsibility is limited to the debiting of your Buddy Wallet and the subsequent payment
                        to any
                        merchant establishment that you might transact with.
                    </li>
                    <li> We do not endorse, promote, or warrant any goods and/or services that might be availed or
                        proposed to
                        be availed using Buddy Wallet.
                    </li>
                    <li> We reserve the right to levy charges upon any amount loaded upon your Buddy Wallet or any
                        amounts
                        spent by You using Buddy Wallet.
                    </li>
                    <li> Buddy Wallet reserves the right to set off any balance in your wallet in order to recover funds
                        for
                        transactions processed as per your request.
                    </li>
                    <li> Your Buddy wallet shall be valid for a period of 12 months from the date of activation or from
                        the
                        time of the last wallet load whichever is later.
                    </li>
                    <li> Minimum KYC Buddy Wallet holders will have to complete KYC within a period of 12 months from
                        the date
                        of issue of Buddy Wallet or 1st Sep 2019, whichever is later, failing which no further credit
                        shall be
                        allowed in wallet. However, the user can use the balance available in the wallet.
                    </li>
                    <li> In the event wallet is inactive or not used by the customer for a continuous period of 1 year
                        from the
                        date of activation or last transaction, forfeiture will be done in compliance with RBI
                        guidelines .
                    </li>
                    <li> Buddy will intimate the customer thru SMS/ email 45 days prior deactivating or suspension of
                        the
                        wallet. All PPI holders can reclaim their amount from the date of forfeiture in their bank
                        accounts.
                        This process of reclaim will include written request from PPI holder along with registered
                        details and
                        submission of ID document.
                    </li>
                    <li> Charges pertaining to transactions shall be in accordance with RBI guidelines as applicable
                        from time
                        to time.</li>
                </ul>
                8. CONFIDENTIALITY<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You specifically agree that in order to facilitate the
                provision of Buddy Wallet, it may be required to
                disclose any information or particulars pertaining to You to any authority, statutory or otherwise.
                Privacy of communication is subject to the terms of the certificate of authorization granted by the
                Reserve Bank of India and Reserve Bank of India notifications/directives etc.<br>
                9. INTELLECTUAL PROPERTY RIGHTS<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We, or Our licensors, own all right, title and interest,
                including, but not limited to all copyright,
                trademark, patent, trade secret or other proprietary rights (“IP rights”), in and to the site, the
                platform, the usage data. You shall not reproduce, distribute, transmit, modify, create derivative
                works, display, perform or otherwise use the Site, the platform or any of the IP rights, or attempt to
                reverse engineer, decompile, disassemble, or derive the source code for the platform or use the platform
                or Site to create a competing product. Buddy Wallet is owned by Buddy Services (India) Pvt. Ltd.
                unauthorized use is strictly prohibited. All rights are expressly reserved to Oxygen Wallet.
                <br>10. DISCLAIMER<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We make no warranty, express or implied, with respect to the
                Site and Related Applications and Services
                offered. We expressly disclaim the implied warranties of non-infringement, merchantability, and fitness
                for any particular purpose. We provide the Site and Related Applications and any other technology and
                Services on the Site on an “as is”, “where is”, “with all faults” basis. We do not warrant that the Site
                or Related Applications and any products or Services shown or described on the Site or Related
                Applications, or other technology and services will be uninterrupted, error-free, available or
                operational at any particular time, or that any known defects will be corrected. We disclaim any
                liability for any information that may have become outdated since the last time the particular piece of
                information was updated. We reserve the right to make changes and corrections to any part of the content
                of this website at any time without prior notice.
                <br>11. INDEMNITY<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You agree to indemnify, defend and hold Buddy Wallet and/or
                related parties harmless from any and all
                claims, losses, damages, and liabilities, costs and expenses, including and without limitation legal
                fees and expenses, arising out of or related to your use or misuse of the Buddy Wallet, any violation of
                these Terms, or any breach of the representations, warranties, and covenants made by you.
                <br>12. AUTHORIZATION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By accepting the Terms, You authorize us to hold, receive,
                disburse and settle funds on Your behalf.
                Your authorization permits us to generate an electronic funds transfer between the payment system
                providers and our nodal account to process each payment transaction that you authorize. Thereafter You
                authorise us to transfer the payments received from Your buyers to the bank account designated by You
                for this purpose at the time of registration. Your authorization will remain in full force and effect
                until Your Buddy Wallet account is closed or terminated.<br>
                13. REFUND POLICY<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are responsible for the information you provide for
                purchase and all charges that result from those
                purchases. Buddy Wallet is not responsible for any purchase of incorrect information provided. If in a
                transaction performed by you on the Site, money has been charged to your card or bank account and a
                recharge is not delivered within two hours of your completion of the transaction then you may inform us
                by sending an email to our customer services email address as mentioned. Buddy Wallet shall investigate
                the incident and if it is found that money was charged to your card or bank account without delivery of
                the recharge then you will be refunded the money within 7 working days from the date of receipt of your
                email. All refunds will be credited to your Buddy Wallet account.<br>
                14. TECHNICAL ISSUES<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In case of any technical issues, please raise a support ticket
                by emailing care.level2@myBuddy.com from
                Your service dashboard to let us know of the same. You can also contact us on 0124 6688333 in case of
                urgent matters.<br>
                15. GOVERNING LAW AND DISPUTE RESOLUTION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Terms will be governed by and construed in accordance with
                the laws of India. You agree that any
                legal action or proceedings arising out of these Terms may be brought exclusively in the competent
                courts or tribunals having jurisdiction in Delhi, India and irrevocably submit themselves to the
                jurisdiction of such courts or tribunals. Buddy Wallet may elect to resolve any controversy or claim
                arising out of or relating to these Terms or Site and related application by binding arbitration in
                accordance with the provisions of the Indian Arbitration & Conciliation Act, 1996. Any such controversy
                or claim shall be arbitrated on an individual basis and shall not be consolidated in any arbitration
                with any claim or controversy of any other party. The arbitration shall be conducted in New Delhi, India
                and judgment on the arbitration award may be entered in any court having jurisdiction thereof. The
                language of Arbitration will be English.
        </div>
    </div>
</div> 