<div class="card1 offset-lg-1 offset-md-1 col-lg-10 col-md-10" style="height: 690px">
    <div class="row ">
        <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6 text-primary text-center"
            style="font-style: italic;margin-top: 20px;">
            <h1 style="text-shadow:2px 1px lightgrey;">Privacy Policy
            </h1>
            <hr class="line text-primary">
        </div>
        <div class="col-lg-3 col-md-3 text-right" style="margin-top:30px;">
            <button class="btn btn-outline-dark" (click)="close()">X</button>&nbsp;
        </div>
    </div>
    <div class="row scroll">
        <div class="bgCard offset-md-1 offset-lg-1 col-lg-10 col-md-10">
            <p><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: larger;font-weight: bold;">W</span>e
                are sensitive to
                the scenario that We would be dealing with data and information
                of a personal nature. By using Our Website (www.Buddywallet.com) and related mobile applications (also
                referred as “We”, “Us”, “Our” and “Buddy Wallet”, as the context may necessitate), You tend to provide
                Personal Information of You and Your family (also referred as “You”, “Your”, “Yours” or the “User”, as
                the
                context may necessitate). You consent to the terms of Our online Privacy Policy and to Our processing of
                such Personal Information for the purposes explained in this policy by registering on the Website or by
                subscribing to Our services. You also agree to Our contacting You pursuant to the business relationship
                established using the information You provide to Us. We request You to read this Policy in accordance
                with
                Terms of Use and to use these to make informed decisions.
                This Privacy Policy sets out how Buddy Wallet uses and protects any information that You provide when
                You
                use Our Website for any transaction. We are committed to ensuring that information shared by You is
                protected and We assure You that it shall solely be used in accordance with this Privacy Policy.<br>
                <br>
                1. PRIVACY<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your privacy is of utmost importance to Us. We follow
                systematic and stringent procedures to protect the
                security of the information / data shared with Us and stored on our Website. The information that You
                have
                shared on our Website is stored in secure server with encryption and can be accessed only for official
                purposes. Any of Our employees who violate Our privacy and/or security policies related to customer’s
                data
                is subject to disciplinary action, including possible termination and civil and/or criminal
                prosecution.<br>
                2. REGISTRATION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upon signing up on Our Website, You are required to provide Us
                with certain basic mandatory information
                inter-alia Your name, mobile number etc.. details We never request more information than is reasonably
                necessary to provide requested services. We assume all the information provided by You is true,
                accurate,
                current, non-misleading, consistent and relevant. Once the registration process is completed, the said
                mobile number and password can be used to access Your account every time You visit Our Website.<br>
                3. INFORMATION THAT WE COLLECT AND THAT YOU PROVIDE<br>
                4. PERSONAL INFORMATION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personal Information means and includes all information that
                can be linked to a specific individual or
                to
                identify any individual, such as:
                <ul>
                    <li> Your full name, address, e-mail address, mobile number, date of birth and bank or payment card
                        details and any proof of Your identity and/or address that we may request
                    </li>
                    <li> Details of any transactions that You carry out through our Website or application using Your
                        Buddy
                        account and of the fulfilment of Your requests
                    </li>
                    <li> Details of any credit, debit or other card used by You for transactions
                    </li>
                    <li> Details of any bank account (including but not limited to, account holder, account name,
                        account
                        number, sort code, online banking PIN, Transaction Authentication Number "TAN" and password,
                        available balance and transaction history of Your bank account), ITR, TAX certificates or any
                        other
                        income documents as necessary by Us
                    </li>
                    <li> Any correspondence sent by You to Us
                    </li>
                    <li> Survey that You complete through the Website or based on our request
                    </li>
                    <li> Your participation in any promotion sponsored by Us
                    </li>
                    <li> Calls that we make to You or You make to Us
                    </li>
                    <li> Information collected through Cookies
                    </li>
                    <li> Your IP address, log-in times, operating system and browser type
                    </li>
                    <li> Details of Your visits to our Website/ mobile application including, but not limited to,
                        Traffic
                        Data, location data, weblogs and other communication data, whether this is required for Our own
                        billing purposes or otherwise and the resources that You access whilst visiting Our Website or
                        mobile application
                    </li>
                </ul>
                5. ANONYMOUS INFORMATION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buddy Wallet uses Cookies to collect information for record
                keeping purposes and makes it easier to
                navigate
                the Website. Cookies are small text files that are stored on Users' hard drives. We will not use cookies
                to
                collect personal information without getting Your permission. We use both "session ID cookies" and
                "persistent cookies." Session ID cookies are used to store information while a User is logged into the
                site
                and expires when the User closes their browser. Persistent cookies are used to make tasks like logging
                into
                the site easier for returning Users by remembering a User's login information. Persistent cookies stay
                on a
                User's hard drive from one session to the next. You may choose not to receive cookies from Us by
                following
                instructions in the website.<br>
                6. INFORMATION COLLECTED BY MERCHANTS<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buddy Wallet shall engage independent merchants to provide
                certain services and products related to our
                Website. Access to any of Your Personal Information by these merchants is limited to the information
                reasonably necessary in order for the merchants to perform their limited services for Us. We also insist
                that these merchants protect Your Personal Information in a manner consistent with this Privacy Policy
                and
                that the merchants shall not use or disclose Your personal information for any purpose other than
                providing
                Us with the products or services for which We have contracted. We will not sell, distribute or lease
                Your
                Personal Information to merchants unless:
                <ul>
                    <li> Required by law such as to comply with a subpoena, or similar legal process. To the extent We
                        are
                        legally permitted to do so, We will take commercially reasonable steps to notify You in the
                        event
                        that We are required to provide Your personal information to Merchants as part of legal process
                    </li>
                    <li> When We believe in good faith that disclosure is necessary to protect Our rights, protect Your
                        safety or the safety of others, investigate fraud or respond to a written government request.
                    </li>
                    <li> If Buddy Wallet becomes involved in a merger, acquisition, or any form of sale of some or all
                        of
                        its assets, We will provide notice before personally identifying information becomes subject to
                        a
                        different privacy statement
                    </li>
                    <li> To any other Merchant with Your prior consent to do so.
                    </li>
                </ul>
                7. INFORMATION COLLECTED BY THIRD PARTY AD SERVERS<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third-party ad servers or ad networks may serve advertisements
                on the Website. These third-party ad
                servers
                or ad networks use technology to send, directly to Your browser, the advertisements and links that
                appear on
                Buddy Wallet. They automatically receive Your IP address when this happens. They may also use other
                technologies (such as cookies, JavaScript, or Web Beacons) to measure the effectiveness of their
                advertisements and to personalize the advertising content. Buddy Wlalet does not provide any personally
                identifiable information to these third-party ad servers or ad networks without Your consent. However,
                please note that if an advertiser asks Us to show an advertisement to a certain audience or audience
                segment
                and You respond to that advertisement, the advertiser or ad-server may conclude that You fit the
                description
                of the audience they are trying to reach. You should consult the respective privacy policies of these
                third-party ad servers or ad networks. This Privacy Policy does not apply to, and We cannot control the
                activities of, such advertisers.<br>
                8. USE OF PERSONAL INFORMATION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We use personal information to provide You with services &
                products You explicitly requested for, like
                the
                following:
                <ul>
                    <li> To carry out Your instructions for making and receiving payments and undertake transactions
                        using
                        Our services, including verifying that You have sufficient funds in Your Buddy Wallet to make
                        such
                        payments
                    </li>
                    <li> To operate and administer Your Buddy account for providing services that You have requested
                    </li>
                    <li> To notify You about changes to Our service(s)
                    </li>
                    <li> To comply with financial services regulations including retention of financial information and
                        transactions
                    </li>
                    <li> For customer service, including answering questions and responding to feedback and complaints
                    </li>
                    <li> To provide You with information, products or services that You request from Us or which We feel
                        may
                        interest You.
                    </li>
                    <li> To allow You to participate in interactive features of the website or mobile application
                    </li>
                    <li> To improve Our internal customer training
                    </li>
                    <li> For financial and identity checks, fraud prevention checks, anti-money laundering and credit
                        checks
                    </li>
                    <li> To enhance the security of Our services
                    </li>
                    <li> To send You offers based on Your previous orders and interests
                    </li>
                    <li> To complete optional online surveys which may ask You for contact information and demographic
                        information (like zip code, age, gender).
                    </li>
                </ul>
                9. RETENTION OF DATA<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buddy Wallet is required, under applicable laws, to retain
                certain records for a period as suggested by
                regulatory authorities even after closure of Your Buddy Wallet account, which will include Your personal
                data such as Your name, contact details, customer number and transaction history, ("Retained Data").
                Other
                than the Retained Data, We will delete and destroy all Personal Information that We hold about You when
                You
                (or we) terminate Your Buddy account. We do not store Your online banking login PIN, TAN and/or
                password.
                Please note that we will not store Your credit card information.
                Please note that we will never ask You to disclose Your personal or security details by e-mail. If You
                receive any e-mail purportedly from Us requesting Your personal or security details, please do not
                respond
                to it ("Such E-mail"). Please forward any Such E-mail to care@Buddywallet.com and thereafter delete the
                e-mail immediately.<br>

                10. CONSEQUENCES OF NOT PROVIDING PERSONAL INFORMATION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If You choose not to provide Your Personal Information that is
                mandatory to process Your request, Buddy
                Wallet may not be able to provide the corresponding services.<br>
                11. SECURITY<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buddy Wallet has drawn up stringent security measures to
                protect the loss, misuse, and alteration of the
                information provided by You under Our control. At any point of time, when You change or access Your
                account
                information, We offer the use of a secure server. Once Your information is in Our possession, We adhere
                to
                strict security guidelines, protecting the information against unauthorized access. In order to prevent
                unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial
                procedures to safeguard and secure the information we collect online. For example
                <ul>
                    <li> We use Secure Socket Layer (SSL) to encrypt the transmission of data on Our Website.
                    </li>
                    <li> We review Our information collection, storage and processing practices, including physical
                        security
                        measures, to guard against unauthorized access to systems.
                    </li>
                    <li> We restrict access to Personal Information to Our employees, contractors and agents who need to
                        know that information in order to process it for Us, and who are subject to strict contractual
                        confidentiality obligations and may be disciplined or terminated if they fail to meet these
                        obligations.
                    </li>
                    <li> We are not responsible for third party circumvention of any privacy settings or security
                        measures
                        on Buddy Wallet. You can reduce these risks by using common sense security practices such as
                        choosing a strong password, using different passwords for different services, and using up to
                        date
                        antivirus software.
                    </li>
                </ul>
                12. SERVER LOGS<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In order to ensure easy and comfortable surfing on our
                Website, each time you visit our Website, the
                computer collects certain statistical information. These statistics are only used to provide Us
                information
                in relation to the type of User using our Website by maintaining history of page requests and at no
                point
                they identify the personal details of the User. We may make use of this data to understand as to how our
                Website is being used.<br>
                13. INTERNATIONAL USERS<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Website is hosted in India. If You are accessing the
                Website from outside India, Your use of the
                Website
                is governed by laws of India. You are transferring Your Personal Information to India, and You consent
                to
                that transfer.<br>
                14. OTHER INFORMATION<br>
                <ul>
                    <li> If You would like to view the information We have collected from You or You want to correct
                        Your
                        information, please go to Our Login page and log into Your account to view the above details and
                        to
                        review Your personal information.
                    </li>
                    <li> If You believe that any information We are holding about You is incorrect or incomplete, please
                        email Us at Care@Buddywallet.com
                    </li>
                    <li> We will promptly correct any information found to be incorrect
                    </li>
                    <li> We may change this policy from time to time by updating this page. We will post a notice on Our
                        home page that this Privacy Policy has changed.
                    </li>
                    <li> Unless stated otherwise, Our current Privacy Policy applies to all information that We have
                        about
                        You and Your account.
                    </li>
                    <li> This policy is effective from the date last updated.
                    </li>
                </ul>
                15. CONSENT<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You consent to the collection and use of the information You
                disclose on Buddy Wallet in accordance with
                this Privacy Policy, by using Buddy Wallet and/or by providing Your information, including but not
                limited
                to Your consent, for sharing Your information as per this Privacy Policy.
                UPDATES TO PRIVACY POLICY
                Our Privacy Policy may change at any time without prior notification. To make sure that You are aware of
                any
                changes, kindly review the policy periodically. This Privacy Policy shall apply uniformly to Buddy
                Wallet’s
                desktop website & mobile applications.<br>
                16. ENFORCEMENT<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We may use the information collected, in connection with Your
                use of Buddy Wallet (including Your
                personal
                information) in order to investigate, enforce, and apply our Terms of Use and Privacy Policy.<br>
                17. DISPUTE RESOLUTION<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If You believe that Buddy Wallet has not adhered to this
                Privacy Policy please email to Us at E-mail:
                Care@Buddywallet.com
                (In Your email, please describe in as much detail as possible ways in which You believe the Privacy
                Policy
                has not been complied with. We will investigate Your complaint promptly.)
                <br><br><span style="margin-left: 15%;font-size: larger;">YOUR USE OF THE WEBSITE CONFIRMS YOUR
                    AGREEMENT TO THE PRIVACY POLICY.</span>

        </div>
    </div>
</div>